{% extends 'landingbase.html' %}
{% load static %}

{%block title%}
<a class="navbar-brand js-scroll-trigger" href="{%url 'employer'%}">BCR</a>
{%endblock%}

{% block navigation %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'profileView' %}">Profile</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'employer'%}">Listings</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'createListing'%}">Create Listing</a></li>
{% endblock %}
{% block listing_header %}
{% endblock %}
{% block dashboard %}
<h1>{{employer}} Listings</h1>
<div style='display:flex; flex-wrap: wrap; flex-direction: row'> 
{% for listing in listings %}
    <!-- Portfolio Item 1-->
    <a class="col-md-6 col-lg-4 mb-5" style="margin:0 !important; padding:1rem !important;color:#212529" href="{% url 'suggestApp' listingid=listing.id %}">
        <div class="portfolio-item mx-auto" style='background-color:#6c757d' data-toggle="modal" data-target="#portfolioModal{{listing.id}}">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><h2>Suggest Applicants</h2></div>
            </div>
            <!--<img class="img-fluid" src='https://source.unsplash.com/random/800x600' alt="" />-->
            <div style = 'padding:10px'>
                <h5>{{listing.job_title}}</h5>
                <div style='display:flex;flex-direction:row;flexwrap:nowrap'>
                    <div style='max-width:55%'>
                        
                        <p>{{listing.organization}}</p>
                        <div style='display:flex;flex-direction:row;flexwrap:nowrap'>
                            <div>
                                <p>{{listing.description | truncatechars:100 }}</p>
                            </div> 
                        </div>
                    </div>
                        <div style='display:flex;flex-direction:column;padding-left:10px'>
                            {% for skill in skills %}
                            {% if skill.listing == listing %}
                                <span style = 'display:flex;flex-direction:row;'><p>{{ skill }}</p></span>
                            {% endif %}
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </a>

{% endfor %}
</div>
                    
{% endblock %}