{% extends 'mainbase.html' %}

{% block  content%}
<div class="col-md-6 col-lg-4 mb-5" >
                        <div class="portfolio-item mx-auto" style='background-color:#6c757d' data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <!--<img class="img-fluid" src='https://source.unsplash.com/random/800x600' alt="" />-->
                            <div style = 'padding:10px'>
                                <h5>Job Title</h5>
                                <div style='display:flex;flex-direction:row;flexwrap:nowrap'>
                                    <div style='max-width:65%'>
                                        
                                        <p>Company Name</p>
                                        <div style='display:flex;flex-direction:row;flexwrap:nowrap'>
                                            <div>
                                                <p>sample description text goes here stuff about the job for like 10 secionds...</p>
                                            </div> 
                                        </div>
                                    </div>
                                        <div style='display:flex;flex-direction:column;padding-left:10px'>
                                                {% for i in '123' %}
                                                <span style = 'display:flex;flex-direction:row;'><p>Skill</p><p> - lvl</p></span>
                                                {% endfor %}
                                            </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock  %}