{% extends 'mainbase.html' %}
{%block title%}
    <a class="navbar-brand js-scroll-trigger" href="{%url 'employer'%}">BCR</a>
{%endblock%}

{% block navigation %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'empAbout' %}">About</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'profileView' %}">Profile</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'employer'%}">Listings</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'createListing'%}">Create Listing</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'employerLogin' %}">Sign Out</a></li>
{% endblock %}
{% block  content%}
<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Company Profile</h2>
        <!-- Icon Divider-->
        <!-- Contact Section Form-->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                <form id="contactForm" name="sentMessage" novalidate="novalidate" method='POST' action="{% url 'editProfile'%}">
                    {% csrf_token %}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Company Name</label>
                            <input class="form-control" value='{{employer.company_name}}' id="companyName" name='name' type="text" placeholder="Company Name" required="required" data-validation-required-message="Please enter your Company Name." />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Password</label>
                            <input class="form-control" id="password" value="{{employer.password}}" name ='password' type="text" placeholder="Password" required="required" data-validation-required-message="Please enter a Password." />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Address</label>
                            <input class="form-control" id="address" value="{{employer.address}}" name = 'address' type="text" placeholder="Address" required="required" data-validation-required-message="Please enter your Address."/>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label for="size">Size</label>
                            <select value={{employer.size}} name="size" id="size" class="form-control">
                                <option value="size">--Size--</option>
                                <option {% if employer.size == 'MC' %} selected {% endif %} value="MC">MC</option>
                                <option {% if employer.size == 'BG' %} selected {% endif %} value="BG">BG</option>
                                <option {% if employer.size == 'MD' %} selected {% endif %} value="MD">MD</option>
                                <option {% if employer.size == 'ST' %} selected {% endif %} value="ST">ST</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label for="sector">Sector</label>
                            <select value={{employer.sector}} name="sector" id="sector" class="form-control">
                                <option {% if employer.size == 'PT' %} selected {% endif %} value="PT">PT</option>
                                <option {% if employer.size == 'VA' %} selected {% endif %} value="VA">VA</option>
                                <option {% if employer.size == 'GD' %} selected {% endif %} value="GD">GD</option>
                                <option {% if employer.size == 'MA' %} selected {% endif %} value="MA">MA</option>
                                <option {% if employer.size == 'DM' %} selected {% endif %} value="DM">DM</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br />
                    <div id="success"></div>
                    <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Save</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock  %}