{% extends 'landingbase.html' %}
{% load static %}

{% block listing_header %}
<div>
    <ul style='display:flex;text-decoration: underline;'>
        <li class="nav-link"><a href='#'>Suggested Applicants</a></li>
        <li class="nav-link"><a href='#'>Saved Applicants</a></li>
        <li class="nav-link"><a href='#'>Offers Extended</a></li>
    </ul>
</div>
{% endblock %}
{% block dashboard %}
<h1>Applicants</h1>
<div style='display:flex; flex-wrap: wrap; flex-direction: row'> 
{% for applicant in applicants %}
    <!-- Portfolio Item 1-->

    <div class="portfolio-item mx-auto" style='margin: .5rem !important; margin-bottom: .5rem !important; max-width: 15rem; background-color:#6c757d; padding:1rem !important;  display:flex; flex-wrap:wrap; flex-direction:row' data-toggle="modal" data-target="#portfolioModal1">
        
        <!--<img class="img-fluid" src='https://source.unsplash.com/random/800x600' alt="" />-->
        <div style='magrin:0 !important'>
            <h5>{{applicant}}</h5>
            <div style='display:flex;flex-direction:row;flexwrap:nowrap'>
                
                <div style='display:flex;flex-direction:column;padding-left:10px'>
                    {% for skill in skills %}
                        {% if skill.applicant == applicant %}
                        <span style = 'display:flex;flex-direction:row;'><p>{{ skill }}</p></span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
                    
{% endblock %}