{% extends 'landingbase.html' %}
{% load static %}
{%block title%}
<a class="navbar-brand js-scroll-trigger" href="{%url 'applicant'%}">BCR</a>
{%endblock%}
{% block navigation %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'aboutin' %}">About</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'applicant' %}">Suggested Listings</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'savedListings' %}">Saved Listings</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'application' %}">Applications</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'appProfileView' %}">Profile</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'applicantLogin' %}">Sign Out</a></li>
{% endblock %}
{% block dashboard %}
<h1>{{applicant.first_name}}'s Applications </h1>
<b>Here you can view the jobs that you have applied for.<b>
<div style="display:flex;flex-wrap:wrap" class="row justify-content-center" id='portfolio'>
{% for application in applications %}
    <!-- Portfolio Item 1-->
    <div class="col-md-6 col-lg-4 mb-5" style="margin:0 !important; padding:1rem !important;" >
        <div class="portfolio-item mx-auto" style='background-color:#6c757d' data-toggle="modal" data-target="#portfolioModal{{application.listing.id}}">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><h3>View Details</h3></div>
            </div>
            <div style = 'padding:10px'>
                <center><h5>{{application.listing.job_title}}</h5></center>
                <div>
                    <div>
                        <center><p>{{application.listing.organization}}</p></center>
                        <div>
                            <div>
                                <center><p>Status: {{application.status}}</p></center>
                            </div> 
                        </div>
                    </div>
                        <div style='display:flex;flex-direction:column;padding-left:10px'>
                            {% for skill in skills %}
                            {% if skill.listing == listing %}
                                <span style = 'display:flex;flex-direction:row;'><p>{{ skill }}</p></span>
                            {% endif %}
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
        <div style='display:flex;'>
            <form method='POST' action="{% url 'deleteApplication' %}"> 
                {% csrf_token %}
                <input name='id' value='{{application.id}}' type='text' hidden>
                <button class='btn btn-primary' style='margin-top:10px'>withdraw</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>      
{% endblock %}
{% block popup %}
    {% for application in applications %}
    <!-- Portfolio Modals-->
        <div class="portfolio-modal modal fade" id="portfolioModal{{application.listing.id}}" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class='close' type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">{{application.listing.job_title}}</h2>
                                    <div >
                                        <center><h3>{{application.organization}}</h3></center>
                                    </div>
                                    <center><h6>{{application.status}}</h6></center>
                                    
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <!-- Portfolio Modal - Text-->
                                    <div style='display:flex;flex-wrap:wrap'>
                                    {% for skill in skills %}
                                    {% if skill.listing == listing %}
                                        {% if skill in applicant_skills %}
                                            <div class = 'btn btn-primary' style="margin: 7px;display:flex" method='POST' action= "{% url 'appSkills' %}">
                                                <p style="margin: 0;">{{skill}}</p>
                                            </div>
                                        {% else %}
                                            <div class = 'btn btn-primary' style="border-color:#ffc107;background-color:#ffc107;margin: 7px;display:flex" method='POST' action= "{% url 'appSkills' %}">
                                                <p style="margin: 0;">{{skill}}</p>
                                            </div>
                                        {% endif %}
                                    {% endif %}   
                                    {% endfor %}
                                    </div>
                                    <br>
                                    <p class="mb-5">{{application.listing.description}}</p>
                                    <div style='display:flex;flex-wrap:wrap'>
                                        <button class="btn btn-primary" data-dismiss="modal">
                                            <i class="fas fa-times fa-fw"></i>
                                            Close Application
                                        </button><p style='color:#f8f9fa'>------------------</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
{%endblock%}
{% block popups %}
    <!--Listing is the list of recommended listings (10 of them)-->
    {% for application in applications %}
    <!-- Portfolio Modals-->
        <div class="portfolio-modal modal fade" id="portfolioModal{{application.listing.id}}" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                        <form method='POST' action="{% url 'saveListing' %}" >
                            {% csrf_token %}
                            <input hidden value='{{application.listing.id}}' name='id' >
                            <button class='' type='submit' style='float:left !important'><i class="fas fa-heart"></i></button>
                        </form>
                        <button class='close' type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">{{application.listing.job_title}}</h2>
                                    <br>
                                    <div >
                                        <h3>{{application.listing.organization}}</h3>
                                         
                                    </div>
                                    <h6>in {{application.listing.city}}</h6>
                                    <div >
                                        <h4>Status: {{application.status}}</h4>
                                    </div>
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                                                      <!-- Portfolio Modal - Text-->
                                    <div style='display:flex;flex-wrap:wrap'>
                                    {% for skill in skills %}
                                    {% if skill.listing == listing %}
                                        {% if skill in applicant_skills %}
                                            <div class = 'btn btn-primary' style="margin: 7px;display:flex" method='POST' action= "{% url 'appSkills' %}">
                                                <p style="margin: 0;">{{skill}}</p>
                                            </div>
                                        {% else %}
                                            <div class = 'btn btn-primary' style="border-color:#ffc107;background-color:#ffc107;margin: 7px;display:flex" method='POST' action= "{% url 'appSkills' %}">
                                                <p style="margin: 0;">{{skill}}</p>
                                            </div>
                                        {% endif %}
                                    {% endif %}   
                                    {% endfor %}
                                    </div>
                                    <br>

                                    <p class="mb-5">{{listing.description}}</p>
                                    <div style='display:flex;flex-wrap:wrap'>
                                        <button class="btn btn-primary" data-dismiss="modal">
                                            <i class="fas fa-times fa-fw"></i>
                                            Close Listing
                                        </button><p style='color:#f8f9fa'>------------------</p>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}    
 