{% extends 'landingbase.html' %}
{% load static %}
{%block title%}
<a class="navbar-brand js-scroll-trigger" href="{%url 'applicant'%}">BCR</a>
{%endblock%}
{% block navigation %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'aboutin' %}">About</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'applicant' %}">Suggested Listings</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'savedListings' %}">Saved Listings</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'application' %}">Applications</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'appProfileView' %}">Profile</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'applicantLogin' %}">Sign Out</a></li>
{% endblock %}
{% block listing_header %}
{% endblock %}
{% block dashboard %}
<h1>Listings</h1>
<div style="display:flex;flex-wrap:wrap" class="row justify-content-center" id='portfolio'>
{% for listing in listings %}
    <!-- Portfolio Item 1-->
    <div class="col-md-6 col-lg-4 mb-5" style="margin:0 !important; padding:1rem !important">
        <div class="portfolio-item mx-auto" style='' data-toggle="modal" data-target="#portfolioModal{{listing.id}}">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <!--<img class="img-fluid" src='https://source.unsplash.com/random/800x600' alt="" />-->
            <div style = 'padding:10px'>
                <center><h5>{{listing.job_title}}</h5></center>
                <div style='display:flex;flex-direction:row;flexwrap:nowrap'>
                    <div>
                        <center><p>{{listing.organization}}</p></center>
                        <div style='display:flex;flex-direction:row;flexwrap:nowrap'>
                            <div>
                                <center><p>{{listing.description | truncatechars:100 }}</p></center>
                            </div> 
                        </div>
                    </div>
                        {% comment %} <div style='display:flex; flex-direction:column;padding-left:10px'>
                            {% for listing in listings %}
                                {% icount = icount + 1 %}
                                {% if skill.listing == listing %}
                                    <span style = 'display:flex;flex-direction:row;'><p>{{ skill }}</p></span>
                                {% endif %}
                            {% endfor %}
                        </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}
{% block popups %}
    <!--Listing is the list of recommended listings (10 of them)-->
    {% for listing in listings %}
    <!-- Portfolio Modals-->
        <div class="portfolio-modal modal fade" id="portfolioModal{{listing.id}}" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    
                        <form method='POST' action="{% url 'saveListing' %}" >
                            {% csrf_token %}
                            <input hidden value='{{listing.id}}' name='id' >
                            <button aria-hidden-"true" style= "margin: 10px" class='btn btn-primary' type='submit' style='float:left !important'><i class="fas fa-heart"></i></button>
                        </form>
                        <button class='close' type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </button>
                    
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">{{listing}}</h2>
                                    <div >
                                        <h3>{{listing.organization}}</h3>
                                         
                                    </div>
                                    <h6>in {{listing.city}}</h6>
                                    <form method='POST' action="{% url 'applyToJob' %}">
                                        {% csrf_token %}
                                        <button value={{listing.id}} class="btn btn-primary" type="submit" name = 'apply'>
                                                Apply
                                        </button> 
                                    </form>
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                        <h4>Salary: ${{salary}}</h4>
                                        <h4>Relocation Assistance Provided: {{relAssist}}</h4>
                                    <!-- Portfolio Modal - Image-->
                                                                      <!-- Portfolio Modal - Text-->
                                    <div style='display:flex;flex-wrap:wrap'>
                                    {% for skill in skills%}
                                    {% if skill.listing == listing %}
                                        {% if skill.skill in applicant_skills %}
                                            <div class = 'btn btn-primary' style="background-color: #4CAF50;margin: 7px;display:flex" method='POST' action= "{% url 'appSkills' %}">
                                                <p style="margin: 0;">{{skill}}</p>
                                            </div>
                                        {% else %}
                                            <div class = 'btn btn-primary' style="border-color:#000000;background-color:#808080;margin: 7px;display:flex" method='POST' action= "{% url 'appSkills' %}">
                                                <p style="margin: 0;">{{skill}}</p>
                                            </div>
                                        {% endif %}
                                    {% endif %}   
                                    {% endfor %}
                                    </div>
                                    <br>

                                    <p class="mb-5">{{listing.description}}</p>
                                    <div style='display:flex;flex-wrap:wrap'>
                                        <button class="btn btn-primary" data-dismiss="modal">
                                            <i class="fas fa-times fa-fw"></i>
                                            Close Listing
                                        </button><p style='color:#EEE9E6'>------------------</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}