{% extends 'mainbase.html' %}
{%block title%}
    <a class="navbar-brand js-scroll-trigger" href="{%url 'applicant'%}">BCR</a>
{%endblock%}
{% block navigation %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'aboutin' %}">About</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'applicant' %}">Suggested Listings</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'savedListings' %}">Saved Listings</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'application' %}">Applications</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'appProfileView' %}">Profile</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'applicantLogin' %}">Sign Out</a></li>
{% endblock %}
{% block  content%}
<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">User Profile</h2>
        <center><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'appProfile' %}">Edit Profile</a>
        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'appSkills' %}">Add Skills</a></center>
        <!-- Icon Divider-->
        <!-- Contact Section Form-->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                <form id="contactForm" name="sentMessage" novalidate="novalidate">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <h6>First Name</h6>
                            <p>{{applicant.first_name}}</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <h6>Last Name</h6>
                            <p>{{applicant.last_name}}</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <h6>Username</h6>
                            <p>{{applicant.username}}</p>                    
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <h6>Email</h6>
                            <p>{{applicant.email}}</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <h6>Resume</h6>
                            <!--<p>{{applicant.resume.url}}</p>-->
                            <form method='POST' action="{% url 'downloadProfileResume'%}">
                                <a href="{{applicant.resume.url}}" Download>Download</a>
                                <input hidden name='id' value='applicant.id'> 
                            </form>
                        </div>
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock  %}