{% extends 'landingbase.html' %}
{% load static %}
{%block title%}
<a class="navbar-brand js-scroll-trigger" href="{%url 'applicant'%}">BCR</a>
{%endblock%}
{% block navigation %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'applicant' %}">Suggested Listings</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'savedListings'%}">Saved Listings</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href=>Applications</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'appProfile' %}">Profile</a></li>
{% endblock %}
{% block listing_header %}
{% endblock %}
{% block dashboard %}
<h1>Listings</h1>
<div style="display:flex;flex-wrap:wrap" class="row justify-content-center" id='portfolio'>
{% for listing in listings %}
    <!-- Portfolio Item 1-->
    <div class="col-md-6 col-lg-4 mb-5" style="margin:0 !important; padding:1rem !important">
        <div class="portfolio-item mx-auto" style='background-color:#6c757d' data-toggle="modal" data-target="#portfolioModal{{listing.id}}">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <!--<img class="img-fluid" src='https://source.unsplash.com/random/800x600' alt="" />-->
            <div style = 'padding:10px'>
                <h5>{{listing.job_title}}</h5>
                <div style='display:flex;flex-direction:row;flexwrap:nowrap'>
                    <div style='max-width:65%'>
                        
                        <p>{{listing.organization}}</p>
                        <div style='display:flex;flex-direction:row;flexwrap:nowrap'>
                            <div>
                                <p>sample description text goes here stuff about the job for like 10 secionds...</p>
                            </div> 
                        </div>
                    </div>
                        <div style='display:flex;flex-direction:column;padding-left:10px'>
                            {% for skill in skills %}
                            {% if skill.listing == listing %}
                                <span style = 'display:flex;flex-direction:row;'><p>{{ skill }}</p></span>
                            {% endif %}
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
                    
{% endblock %}
{% block popups %}
<h1>popups</h1>
    {% for listing in listings %}
    <!-- Portfolio Modals-->
        <div class="portfolio-modal modal fade" id="portfolioModal{{listing.id}}" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    
                        
                        <button class='close' type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </button>
                    
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">{{listing}}</h2>
                                    <h3>{{listing.organization}}</h3>
                                    <h4>{{listing.city}}</h4>
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/cabin.png" alt="" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">{{listing.description}}</p>
                                    <div style='display:flex;flex-wrap:wrap'>
                                        <button class="btn btn-primary" data-dismiss="modal">
                                            <i class="fas fa-times fa-fw"></i>
                                            Close Listing
                                        </button><p style='color:#f8f9fa'>------------------</p>
                                        <form method='POST' action="{% url 'unsaveListing' %}">
                                            <input hidden value='{{listing.id}}' name='listingid'>
                                            <button class="btn btn-primary" type='submit'>
                                                Unsave Listing
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}